body {
    background-color: #f1f1f1;
}

#content {
    max-width: 850px;
    margin: auto;
    font-family: sans-serif;
}

#app-title {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 1rem;
}

#app-description {
    font-weight: lighter;
    font-size: smaller;
    text-align: justify;
    width: 80%;
    margin: auto;
    padding-bottom: 1rem;
}

#app-params > select,
#app-params > button {
    border-radius: 0.5rem;
    height: 2rem;
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}

button {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: white;
}

#app-params {
    border-top: 0.5rem solid #dc2733;
    padding: 1rem;
    text-align: center;
}

#app-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-gap: 1rem;
}

.grid-item {
    position: relative;
    aspect-ratio: 1/ 1;
    display: flex;
    align-items: center;
    background-color: white;
    border: 0.5rem solid #dc2733;
    border-radius: 10px;
}

.selected-item {
    background-color: #f5ced1;
}

.grid-item:hover {
    box-shadow: 0.5rem 0.5rem 0.5rem #b28888;
}

.grid-item:active {
    border-color: #640404;
}

.grid-icon {
    width: 45%;
    height: 45%;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;

}

.grid-label {
    font-weight: bold;
    position: absolute;
    text-align: center;
    bottom: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
}

.grid-info {
    position: absolute;
    top: 4%;
    right: 4%;
    font-weight: bold;
    cursor: pointer;
}

.grid-info:hover {
    filter: drop-shadow(2px 2px 2px #b28888);
}

.grid-info:active {
    filter: drop-shadow(2px 2px 2px black);
}

.grid-shop {
    position: absolute;
    height: 10%;
    top: 5%;
    left: 5%;
    z-index: 10;
}

#overlay {
    background-color: rgba(180, 165, 165, 0.5);
    max-width: 830px;
    height: 100%;
    width: 830px;
    position: absolute;
    top: 0;
    z-index: 15;
    backdrop-filter: blur(5px);
    display: none;
    border-radius: 10px;
}

#detailsContainer {
    background-color: white;
    width: 90%;
    max-width: 700px;
    height: auto;
    position: fixed;
    margin: auto;
    top: -100px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 30;
    border-radius: 10px;
    padding: 1rem;
    display: none;
    overflow: visible;
    max-height: fit-content;
}

#closeButton {
    right: 1rem;
    border-radius: 5px;
    position: absolute;
    background-color: white;
    border: 1px solid lightgray;
}

#closeButton:hover {
    background-color: lightgray;
}

#closeButton:active {
    background-color: gray;
    color: white;
}

#itemIcon {
    max-width: 150px;
    max-height: 150px;
    height: 120px;
    width: 120px;
    display: inline-block;
    padding-right: 2rem;
}

#itemIcon > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#detailsTable {
    display: inline-block;
    text-align: left;
}

#detailsTable > table {
    margin: 0 auto 0 auto;
}

.detailLabel {
    padding-left: 1rem;
    padding-right: 1.5rem;
    color: grey;
    font-weight: lighter;
    font-size: small;
}

.detailValue {
    padding: 0 1.5rem 1rem 1rem;
}

.detailValue > img {
    margin-top: 0.2rem;
    height: 1rem;
}

a {
    color: mediumblue;
    text-decoration: none;
}

#priceBox {
    width: 100%;
    text-align: center;
    padding: 1rem 0 1rem 0;
}

.priceDetails {
    display: inline-block;
    padding: 0 0.5rem 1rem 0.5rem;
}

.priceLabel {
    color: grey;
    font-weight: lighter;
    font-size: small;
    padding-bottom: 0.5rem;
}

.priceValue {
    font-weight: bold;
}

.increased {
    color: #b70404;
}

.decreased {
    color: darkgreen;
}

#priceChart {
    border-top: solid 2px #dc2733;
    padding-top: 2rem;
    width: 50%;
}

#receipt {
    overflow: scroll;
    position: sticky;
    align-self: start;
    top: 1rem;
    font-family: 'VT323', sans-serif;
    font-weight: bold;
    text-align: center;
    max-width: 1fr;
    width: 100%;
    min-width: 330px;
    height: fit-content;
    max-height: 90vh;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

#receipt-content {
    padding: 1rem;
}

.receipt-logo {
    width: 100px;
}

#receipt-table-items, #receipt-table-evolution {
    padding-bottom: 0.5rem;
    font-size: 1.1rem;
    width: 100%;
}

.receipt-item-name, .receipt-evolution-name {
    width: 150px;
    text-align: left;
}

.receipt-item-price, .receipt-evolution-price {
    width: 70px;
    padding: 0;
}

.receipt-item-shop {
    width: 150px;
    padding-top: 0.5rem;
    text-align: left;
}

.receipt-total-row {
    font-size: 1.25rem;
}

#receipt-barcode {
    font-family: "Libre Barcode 128", cursive;
    font-size: x-large;
    text-align: center;
    font-weight: normal;
}