#content {
    max-width: 620px;
    margin: auto;
    font-family: sans-serif;
}

#overlay {
    background-color: rgba(180, 165, 165, 0.5);
    max-width: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    backdrop-filter: blur(5px);
    display: none;
    border-radius: 10px;
}

#detailsContainer {
    background-color: white;
    max-width: 620px;
    height: 90%;
    width: 90%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    border-radius: 10px;
    padding: 10px;
    display: none;
}

#closeButton {
    right: 10px;
    border-radius: 5px;
    position: absolute;
    background-color: white;
    border: 1px solid lightgray;
}

#closeButton:hover {
    background-color: lightgray;
}

#closeButton:active {
    background-color: gray;
    color: white;
}

#itemIcon {
    max-width: 150px;
    max-height: 150px;
    height: 120px;
    width: 120px;
    display: inline-block;
    padding-right: 2rem;
}

#itemIcon > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#detailsTable {
    display: inline-block;
    text-align: left;
}

table {
    margin: 0 auto 0 auto;
}

td {
    padding-left: 1rem;
    padding-right: 1.5rem;
}

.detailLabel {
    color: grey;
    font-weight: lighter;
    font-size: small;
}

.detailValue {
    padding-bottom: 1rem;
}

a {
    color: mediumblue;
    text-decoration: none;
}

#priceBox {
    width: 100%;
    text-align: center;
    padding: 20px 0 20px 0;
}

.priceDetails {
    display: inline-block;
    padding: 0 0.5rem 0 0.5rem;
}

.priceLabel {
    color: grey;
    font-weight: lighter;
    font-size: small;
    padding-bottom: 0.5rem;
}

.priceValue {
    font-weight: bold;
}

.increased {
    color: #b70404;
}

.decreased {
    color: darkgreen;
}

#priceChart {
    position: absolute;
    border-top: solid 2px #dc2733;
    padding-top: 2rem;
}

.grid-container {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 1rem;
}

.grid-item {
    background: #dc2733;
    padding: 1rem;
    display: grid;
    position: relative;
    border-radius: 10px;
}

.grid-item::before {
    content: "";
    padding-bottom: 100%;
    display: block;
}

.grid-item::before,
.grid-item > img {
    grid-area: 1 / 1 / 2 / 2;
    background-color: white;
}

.grid-item:hover {
    box-shadow: 0.5rem 0.5rem 0.5rem #b28888;
}

.grid-item:active {
    background-color: #7e2f2f;
}

.grid-item > img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;

}

.grid-label {
    font-weight: bold;
    text-align: center;
    position: absolute;
    bottom: 1rem;
    width: 100%;
}