body {
    background-color: white;
    margin: 0;
}

#content {
    max-width: 900px;
    margin: auto;
    font-family: sans-serif;
    position: relative;
}

#startup-button {
    background-color: white;
    box-shadow: 0 0 1rem black;
    z-index: 30;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 0.5rem solid #dc2733;
    font-weight: bold;
    cursor: pointer;

    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    padding: 15px;
    height: 100px;
    width: 100px;
}

#startup-button:active {
    border: 0.5rem solid #640404;
}

#app-description-text {
    font-weight: lighter;
    font-size: smaller;
    text-align: justify;
    width: 80%;
    margin: auto;
    padding-bottom: 1rem;
}

#app-params {
    border-top: 0.5rem solid #dc2733;
    padding: 1rem;
    text-align: center;
}

#app-params > select,
#app-params > button {
    font-size: medium;
    border-radius: 0.5rem;
    height: 2rem;
    padding-left: 0.5rem;
    margin: 0 0.25rem 0.5rem 0.25rem;
    background-color: white;
}

#app-params > button {
    padding-right: 0.5rem;
}

#mobile-params table {
    text-align: center;
    margin: auto;
    width: 70%;
    background-color: #f1f1f1;
    border-radius: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2rem;
    margin: 0.5rem;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    background-color: black;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    left: 0.25rem;
    bottom: 0.25rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #dc2733;
}

.slider.round {
    border-radius: 2rem;
}

.slider.round:before {
    border-radius: 50%;
}

input:checked + .slider:before {
    -webkit-transform: translateX(2rem);
    -ms-transform: translateX(2rem);
    transform: translateX(2rem);
}

#app-container {
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));*/
    grid-template-columns: minmax(422px, 1fr) 330px;
    grid-gap: 1rem;
    padding: 1rem;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(130px, calc(100%/5)), 1fr));
    grid-template-rows: repeat(auto-fit, minmax(130px, min-content));
    grid-gap: 1rem;
}

.grid-item {
    position: relative;
    aspect-ratio: 1/ 1;
    display: flex;
    align-items: center;
    background-color: white;
    border: 0.5rem solid #dc2733;
    border-radius: 10px;
}

.selected-item {
    background-color: #f5ced1;
}

.grid-item:hover {
    box-shadow: 0.5rem 0.5rem 0.5rem #b28888;
}

.grid-item:active {
    border-color: #640404;
}

.grid-icon {
    width: 45%;
    height: 45%;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
}

.grid-label {
    font-weight: bold;
    position: absolute;
    text-align: center;
    bottom: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
}

.grid-info {
    position: absolute;
    top: 4%;
    right: 4%;
    font-weight: bold;
    cursor: pointer;
}

.grid-info:hover {
    filter: drop-shadow(2px 2px 2px #b28888);
}

.grid-info:active {
    filter: drop-shadow(2px 2px 2px black);
}

.grid-shop {
    position: absolute;
    height: 10%;
    top: 5%;
    left: 5%;
    z-index: 10;
}

#overlay {
    background-color: rgba(180, 165, 165, 0.5);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 25;
    display: none;
}

#details-container {
    background-color: white;
    height: fit-content;
    width: 90%;
    max-width: 700px;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 30;
    border-radius: 10px;
    padding: 1rem;
    display: none;
    overflow: visible;
    text-align: center;
}

#close-button {
    right: 1rem;
    border-radius: 5px;
    position: absolute;
    background-color: white;
    border: 1px solid lightgray;
}

#close-button:hover {
    background-color: lightgray;
}

#close-button:active {
    background-color: gray;
    color: white;
}

#details-grid {
    text-align: center;
    display: inline-grid;
    grid-template-columns: 50px auto auto;
    grid-template-rows: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    grid-auto-flow: row dense;
}

.details-grid-data {
    padding: 0 0.5rem 1rem 0.5rem;
}

#details-grid-icon {
    margin-right: 0.5rem;
}

#details-grid-icon img {
    max-width: 100%;
    max-height: 100%;
}

.details-grid-label {
    color: grey;
    font-weight: lighter;
    font-size: small;
}

.details-grid-value img {
    margin-top: 0.2rem;
    height: 1rem;
}

#details-table {
    text-align: left;
}

#details-table > table {
    margin: 0 auto 0 auto;
}

#details-table-icon {
    width: 50px;
    position: relative;
    padding-right: 1rem;
}

#details-table-icon img {
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
    padding-bottom: 0.5rem;
}

#details-table-icon #tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: smaller;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

#details-table-icon:hover #tooltiptext {
    visibility: visible;
}

#tooltiptext a {
    color: white;
}

.details-table-label {
    color: grey;
    font-weight: lighter;
    font-size: small;
    padding-left: 1rem;
}

.details-table-value {
    max-width: 300px;
    min-width: 90px;
    vertical-align: top;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.details-table-value img {
    margin-top: 0.2rem;
    height: 1rem;
}

#new-window-icon {
    padding-left: 0.2rem;
}

.details-table-value a {
    text-decoration: none;
}

.details-no-brand {
    font-weight: lighter;
    font-style: italic;
}

#price-box {
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
}

.price-details {
    display: inline-block;
    padding: 0 0.5rem 1rem 0.5rem;
}

.price-label {
    color: grey;
    font-weight: lighter;
    font-size: small;
    padding-bottom: 0.5rem;
}

.price-value {
    font-weight: bold;
}

.price-increased {
    color: #b70404;
}

.price-decreased {
    color: darkgreen;
}

#price-table {
    margin: auto;
}

#price-table td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.price-table-label {
    color: grey;
    font-weight: lighter;
    font-size: small;
}

.price-table-value {
    font-weight: bold;
}

#price-chart {
    border-top: solid 2px #dc2733;
    padding-top: 2rem;
    width: 100%;
}

#receipt {
    overflow: scroll;
    position: sticky;
    align-self: start;
    top: 1rem;
    font-family: 'VT323', sans-serif;
    font-weight: bold;
    width: 100%;
    max-width: 400px;
    min-width: 330px;
    height: fit-content;
    max-height: 90vh;
    background-color: #f1f1f1;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#receipt-content {
    padding: 1rem;
}

.receipt-logo {
    max-height: 70px;
    max-width: 100px;
}

.receipt-item-header th{
    vertical-align: top;
}

#receipt-table-items, #receipt-table-evolution {
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
    width: 100%;
}

.receipt-item-name, .receipt-evolution-name {
    width: 150px;
    text-align: left;
}

.receipt-item-price, .receipt-evolution-price {
    min-width: 75px;
    padding: 0;
}

.receipt-item-shop {
    width: 150px;
    padding-top: 0.5rem;
    text-align: left;
}

.receipt-total-row {
    font-size: 1.2rem;
}

#receipt-barcode {
    font-family: "Libre Barcode 128", cursive;
    font-size: x-large;
    text-align: center;
    font-weight: normal;
}

@media only screen and (max-width: 799px) {
    #app-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    #receipt {
        display: none;
        overflow: visible;
        max-height: fit-content;
    }
    #mobile-params {
        display: block;
        position: sticky;
        align-self: start;
        top: 1rem;
        z-index: 20;
    }
}

@media only screen and (min-width: 800px) {
    #app-container {
        grid-template-columns: minmax(422px, 1fr) 330px;
    }

    #receipt {
        display: block;
        overflow: scroll;
        max-height: 90vh;
    }
    #grid-container {
        display: grid;
    }
    #mobile-params {
        display: none;
    }
}

